body {
    background-color: #13cdd4;
    color: rgb(11, 10, 11);
}
h2 {
    color: #e841b9;
}

.texto_paragrafo {
    color: #5731f2;
    font-size: 30px;
}
#nome_usuario {
    font-weight: bold;
    color:aliceblue
}

